.home-container {
  height: max-content;

  margin-left: 120px;
  margin-top: 115px;
}

.home-title {
  width: 580px;
  height: 128px;
  margin: 0;

  h1 {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
  }
}

.home-content {
  width: 615px;
  height: 220px;

  margin-top: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    font-size: 20px;
    line-height: 36px;

    color: #5a6774;
  }
}

.home-btn-container {
    margin-top: 45px;
    
    height: fit-content;
    width: fit-content;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }

    &:active {
      font-weight: bold;
      color: #fff;
    }
  }
}
